{{ define "main" }}
  <h1>{{ .Title }}</h1>
  {{ with .GitInfo }}
    <p>Last Modified: {{ .AuthorDate.Format "Jan 2, 2006 3:04:05 PM" }}</p>
  {{ end }}
  <hr>
  {{ .Content }}

  {{ $css := `
@import "tailwindcss";
@plugin "@tailwindcss/typography";
  ` }}

  <h2>CSS</h2>
  {{ highlight (trim $css "\n") "css" }}

  <h2>CSS after processing with the Tailwind CSS CLI</h2>
  {{ with $css | resources.FromString "temp/css" | css.TailwindCSS }}
    {{ highlight (trim .Content "\n") "css" }}
  {{ end }}

{{ end }}
